@charset "utf-8";
/* CSS Document */
 body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
	
p 	{
	margin-left:5%;	
}
	
.makered {
	font-weight:bold;
	font-size:large;
	color:#FC060D;
}

.btn-mine {
	margin-left:20%;
	margin-top:2%;
}
